{% extends 'yotams_race/base.html' %}

{% load static %}

{% block title %}{{ 'index page' }}{% endblock %}

{% block index_active_class %} active {% endblock %}

{% block body_block %}
<body>
    <div class="bg">

    <!-- percent completed div-->
    <div class="container bg-light-gray">
        <div class="row form-group bg-purple">
            <div class="col-lg-12">
                <h1 style=font-size:50px align="center">{{ completed_percent.percent| floatformat:1}}% Completed ({{completed_percent.number_of_made_recipes}}/ {{completed_percent.number_of_recipes}})</h1>
            </div>
        </div>


        <!-- top 10 div-->
        <div class="row form-group bg-gray">
            <div class="col-lg-12">
                <h1 align="center" data-toggle="tooltip" data-placement="top" title="Full making table">Top 10</h1>
            </div>
        </div>
        <div class="row form-group bg-silver">
            <div class="col-lg-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="col-md-6">Name</th>
                            <th class="col-md-2"># Makes</th>
                            <th class="col-md-2">Rank</th>
                            <th class="col-md-2">Effort</th>
                            <th class="col-md-2">Comments</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for r in top_10 %}
                        <tr>
                            <td class="col-md-6">{{r.name}}</td>
                            <td class="col-md-2">{{r.num_makings}}</td>
                            <td class="col-md-2">{{r.average_rank|floatformat:2}}</td>
                            <td class="col-md-2">{{r.average_effort|floatformat:2}}</td>
                            <td class="col-md-2">
                                <p>Click <a data-toggle="modal" data-target="#modal" href="{% url 'get_comments' recipe_id=r.id %}">here</a> to show the modal</p>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        {% comment %}3 - The modal container{% endcomment %}
        <div class="modal fade" id="modal"></div>

        <!-- get random recipe div-->
        <div class="row form-group bg-gray">
            <div class="col-lg-12">
                <h1 align="center">Random recipe</h1>
            </div>
        </div>
        <div class="row bg-silver"> <!-- buttons-->
            <br>
            <div class="col-lg-2">
                <button type="button" class="btn btn-secondary" id="get_rand_recipe">Get random recipe</button>
            </div>
            <div class="col-lg-2">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="random_only_unmade">
                    <label class="custom-control-label" for="random_only_unmade">Only not made</label>
                </div>
            </div>
        </div>
        <div class="row bg-silver"> <!-- random recipe-->
            <div class="col-lg-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="col-md-6">Name</th>
                            <th class="col-md-2">Page</th>
                            <th class="col-md-2">Rank</th>
                            <th class="col-md-2">Effort</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td id="random_recipe_name" class="col-md-6"></td>
                            <td id="random_recipe_page_num" class="col-md-2"></td>
                            <td id="random_recipe_rank" class="col-md-2"></td>
                            <td id="random_recipe_effort" class="col-md-2"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- footer-->
        <div class="row form-group bg-gray">
            <div class="col-lg-12">
                <address>
                    <br>
                    <strong>Netanel Freiman, 2020</strong>
                    <br>
                    2020
                    <br>Jerusalem
                </address>
            </div>
        </div>
    </div>

    </div>



</body>
{% endblock %}

{% block footer_block %}
    <script src="{% static 'js/index.js' %}"></script>
{% endblock %}

{% block script_block %}
    function generete_comment_url(id){
        return "{% url 'get_comments' 112233 %}".replace("112233", id);
    }
{% endblock %}


