<!DOCTYPE html>
{% load static %}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'css/bootstrap-toggle.css' %}" rel="stylesheet" media="screen">
    <link rel="icon" type="image/png"href="{% static 'pics/favicon.png' %}">
    <title>{% block title%} Yotam's Race {% endblock%}</title>

    <style>
      .bold {
        font-weight: bold;
      }

      .indent {
        margin-left: 1.5em;
      }
    </style>
</head>

{% block body_block %}
<body>
    {{ completed_percent }}
    <script src="{% static 'js/jquery-2.1.4.js' %}"></script>
    <script src="{% static 'js/bootstrap-toggle.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>

</body>
{% endblock %}
</html>

