{% extends 'yotams_race/base.html' %}

{% load static %}

{% block title %}{{ 'operations page' }}{% endblock %}

{% block operations_active_class %} active {% endblock %}

{% block body_block %}
<body>
            <!-- /.container for modal popups that get their content from an ajax call-->
    <div class="modal fade" id="add_recipe_modal">
        <div id="add_recipe_modal_inner_data">
        </div>
    </div>
    <div class="modal fade" id="add_source_modal">
        <div id="add_source_modal_inner_data">
        </div>
    </div>
    <div class="modal fade" id="add_making_modal">
        <div id="add_making_modal_inner_data">
        </div>
    </div>

    <div class="bg">
        <div class="container bg-light-gray">
            <div class="row bg-silver form-group">
                <div class="col-lg-12">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add_recipe_modal">
                        Add new recipe
                    </button>
                </div>
            </div>
            <div class="row bg-silver form-group">
                <div class="col-lg-12">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add_source_modal">
                        Add new source
                    </button>
                </div>
            </div>
            <div class="row bg-silver form-group">
                <div class="col-lg-12">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add_making_modal">
                        Add new making
                    </button>
                </div>
            </div>

        </div>

    </div>

</body>

{% endblock %}

{% block footer_block %}
    <script src="{% static 'js/operations.js' %}"></script>
{% endblock %}

{% block script_block %}
{% endblock %}



